.home-page-layout {
    .filter-title {
        font-size: 16px;
        font-weight: 600;
    }

    .results {
        font-weight: 600;
    }

    div {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}